<!doctype html>
<html lang="en">
    <head>
        <%- include('partial-head', {
            title: 'About',
            name: 'About',
            description: 'A versatile framework to visualize geospatial data in the browser.',
            url: 'https://giro3d.org/giro3d.html',
        }) %>
    </head>

    <body class="bg-light">
        <%- include('navbar', { activeId: 'giro3d' }) %>

        <main>
            <section
                class="jumbo border-primary-subtle"
                style="
                    background-image: linear-gradient(
                            to right,
                            rgba(255, 255, 255, 0.9),
                            rgba(255, 255, 255, 0.9) 50%,
                            rgba(255, 255, 255, 0)
                        ),
                        url('/images/giro3d_background.webp');
                "
            >
                <h1><img src="/images/giro3d_logo.svg" alt="Giro3D" /></h1>
                <div class="about">
                    <h2 class="lead text-primary-emphasis">
                        A versatile <strong>framework</strong> to visualize geospatial data in the
                        browser.
                    </h2>
                    <p class="text-muted">
                        Giro3D is an open-source JavaScript framework for visualizing and
                        interacting with 2D, 2.5D and 3D data.
                    </p>
                </div>
                <p class="links">
                    <a href="/latest/tutorials/getting-started.html" class="btn btn-primary my-2"
                        >Get started</a
                    >
                    <a href="/latest/examples/index.html" class="btn btn-secondary my-2"
                        >Examples</a
                    >
                    <a href="/latest/apidoc/index.html" class="btn btn-secondary my-2"
                        >Documentation</a
                    >
                    <a href="/governance.html" class="btn btn-secondary my-2">Governance</a>
                </p>
            </section>

            <div class="container-fluid bg-primary-subtle py-5">
                <div class="container">
                    <div class="cards-container">
                        <!-- Maps -->
                        <div class="col">
                            <div class="card">
                                <div class="card-content row">
                                    <div
                                        class="card-image"
                                        style="
                                            background-image: url('/images/screenshots/maps.jpg');
                                        "
                                    ></div>
                                    <div class="card-body">
                                        <h5 class="card-title">Maps</h5>
                                        <p class="card-text">
                                            Combine raster, vector and elevation layers to display
                                            2D and 2.5 maps with terrain.
                                        </p>
                                        <p>
                                            <a
                                                href="/latest/examples/getting-started.html"
                                                class="btn btn-card"
                                                >See example</a
                                            >
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- OpenLayers sources -->
                        <div class="col">
                            <div class="card">
                                <div class="card-content row">
                                    <div
                                        class="card-image"
                                        style="
                                            background-image: url('/images/screenshots/vectors.jpg');
                                        "
                                    ></div>
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            Use
                                            <a href="https://openlayers.org/">OpenLayers</a> sources
                                        </h5>
                                        <p class="card-text">
                                            Connect layers to sources including WMS/WMTS, MapBox,
                                            GeoJSON. Supports reprojections.
                                        </p>
                                        <p>
                                            <a
                                                href="/latest/examples/ol_vector.html"
                                                class="btn btn-card"
                                                >See example</a
                                            >
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Point clouds -->
                        <div class="col">
                            <div class="card">
                                <div class="card-content row">
                                    <div
                                        class="card-image"
                                        style="
                                            background-image: url('/images/screenshots/pointcloud.jpg');
                                        "
                                    ></div>
                                    <div class="card-body">
                                        <h5 class="card-title">Point clouds</h5>
                                        <p class="card-text">
                                            Display point clouds in various formats, including
                                            <a href="https://www.ogc.org/standard/3dtiles/"
                                                >3D Tiles</a
                                            >
                                            and
                                            <a href="https://github.com/potree/potree">Potree.</a>
                                        </p>
                                        <p>
                                            <a
                                                href="/latest/examples/lidar_hd.html"
                                                class="btn btn-card"
                                                >See example</a
                                            >
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Features -->
                        <div class="col">
                            <div class="card">
                                <div class="card-content row">
                                    <div
                                        class="card-image"
                                        style="
                                            background-image: url('/images/screenshots/ign_data.jpg');
                                        "
                                    ></div>
                                    <div class="card-body">
                                        <h5 class="card-title">Vector sources as meshes</h5>
                                        <p class="card-text">
                                            Display and extrude feature data from various supported
                                            sources.
                                        </p>

                                        <p>
                                            <a
                                                href="/latest/examples/ign_data.html"
                                                class="btn btn-card"
                                                >See example</a
                                            >
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- it's nice!  -->
                        <div class="col">
                            <div class="card">
                                <div class="card-content row">
                                    <div
                                        class="card-image"
                                        style="
                                            background-image: url('/images/screenshots/demo.jpg');
                                        "
                                    ></div>
                                    <div class="card-body">
                                        <h5 class="card-title">Combine everything</h5>
                                        <p class="card-text">
                                            Put everything together into one scene, use default or
                                            custom controls and leverage the rich API to build the
                                            right app for your business.
                                        </p>

                                        <p>
                                            <a href="/latest/apidoc/index.html" class="btn btn-card"
                                                >See API documentation</a
                                            >
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Three.js -->
                        <div class="col">
                            <div class="card">
                                <div class="card-content row">
                                    <div
                                        class="card-image"
                                        style="
                                            background-image: url('/images/screenshots/three_loader.jpg');
                                        "
                                    ></div>
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            Powered by <a href="https://threejs.org">three.js</a>
                                        </h5>
                                        <p class="card-text">
                                            Giro3D uses the three.js rendering engine to display 3D
                                            datasets.
                                        </p>
                                        <p>
                                            <a
                                                href="/latest/examples/three_loader.html"
                                                class="btn btn-card"
                                                >See example</a
                                            >
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Feature list -->
            <section class="container">
                <div class="row row-cols-1 row-cols-md-2">
                    <div class="col mt-5">
                        <h4 class="text-primary-emphasis">
                            <i class="bi bi-boxes me-2 mb-2"></i> Features
                        </h4>
                        <p>
                            Giro3D is built on top of the three.js engine, and is compatible with
                            any object or plugin that three.js supports.
                        </p>
                        <div class="container">
                            <h5 class="text-primary-emphasis">
                                <i class="bi bi-display me-1"></i> Graphics
                            </h5>
                            <ul class="text-muted">
                                <li>Direct access to three.js renderer</li>
                                <li>Eye Dome Lighting on point clouds</li>
                                <li>Inpainting on point clouds</li>
                                <li>Color ramps on terrains and point clouds</li>
                                <li>Contour lines</li>
                                <li>Clipping planes</li>
                                <li>Point cloud coloring with imagery layers</li>
                                <li>Color layers as masks</li>
                                <li>3D Grid</li>
                                <li>Unlimited color layers per map</li>
                            </ul>
                            <h5 class="text-primary-emphasis">
                                <i class="bi bi-cpu me-1"></i> Processing
                            </h5>
                            <ul class="text-muted">
                                <li>Support of many projected coordinate systems</li>
                                <li>Reprojection of imagery layers</li>
                                <li>3D buildings</li>
                                <li>Vector styling with OpenLayers styles</li>
                                <li>No-data elimination on elevation rasters</li>
                            </ul>
                            <h5 class="text-primary-emphasis">
                                <i class="bi bi-wrench me-1"></i> Other
                            </h5>
                            <ul class="text-muted">
                                <li>Draw lines and polygons</li>
                            </ul>
                        </div>
                    </div>

                    <div class="col mt-5">
                        <h4 class="text-primary-emphasis">
                            <i class="bi bi-database-check me-2 mb-2"></i> Supported formats
                        </h4>
                        <p>
                            Giro3D supports a broad range of data sources, from 2D raster and vector
                            data, to 3D point clouds and tilesets.
                        </p>
                        <div class="container">
                            <h5 class="text-primary-emphasis">
                                <i class="bi bi-layers me-1"></i> Imagery
                            </h5>
                            <ul class="text-muted">
                                <li>WMS</li>
                                <li>WMTS</li>
                                <li>OpenLayers sources</li>
                                <li>
                                    <a href="http://cogeo.org" target="_blank"
                                        >Cloud optimized GeoTIFF (COG)</a
                                    >
                                    (color and elevation rasters)
                                </li>
                                <li>
                                    <a
                                        target="_blank"
                                        href="https://docs.mapbox.com/data/tilesets/reference/mapbox-terrain-rgb-v1/"
                                        >Mapbox Terrain-RGB</a
                                    >
                                </li>
                            </ul>
                            <h5 class="text-primary-emphasis">
                                <i class="bi bi-file-earmark-code me-1"></i> Vectors
                            </h5>
                            <ul class="text-muted">
                                <li>WFS</li>
                                <li>GeoJSON</li>
                                <li>GML</li>
                                <li>KML</li>
                                <li>GPX</li>
                                <li>Vector tiles</li>
                            </ul>
                            <h5 class="text-primary-emphasis">
                                <i class="bi bi-folder2-open me-1"></i> Other
                            </h5>
                            <ul class="text-muted">
                                <li>
                                    <a
                                        href="https://cesium.com/why-cesium/3d-tiles/"
                                        target="_blank"
                                        rel="noopener noreferrer"
                                        >3D Tiles</a
                                    >
                                    (meshes and point clouds)
                                </li>
                                <li>
                                    <a
                                        href="https://github.com/potree/potree/"
                                        target="_blank"
                                        rel="noopener noreferrer"
                                        >Potree point clouds</a
                                    >
                                </li>
                                <li>glTF models</li>
                                <li>compatible with objects supported by three.js</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>

            <section class="mt-5 py-1 container card text-center" id="piero">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="my-3">
                            <a href="https://piero.giro3d.org">
                                <img src="/images/piero_logo.svg" />
                            </a>
                        </div>
                        <p class="lead text-success-emphasis">
                            The Giro3D web application for 3D visualization.
                        </p>
                        <p class="text-muted">
                            Brought to you by the Giro3D team, <strong>Piero</strong> is a
                            fully-fledged web application for working on your 2D and 3D data within
                            your browser. Bring in your best IFC or CityJSON models, display your 3D
                            point clouds, import your vector files, and start analyzing your data
                            with our advanced tools.<br />
                            For even more advanced usages, as Piero is fully open-source, you can
                            customize it and host it yourself.
                        </p>
                        <p>
                            <a href="https://piero.giro3d.org" class="btn btn-success my-2"
                                >Try the app <i class="bi bi-box-arrow-up-right"></i
                            ></a>
                            <a href="/piero.html" class="btn btn-secondary my-2">Learn more</a>
                            <a href="https://gitlab.com/giro3d/piero" class="btn btn-secondary my-2"
                                >GitLab <i class="bi bi-box-arrow-up-right"></i
                            ></a>
                        </p>
                    </div>
                </div>
            </section>
        </main>

        <footer class="container-fluid text-bg-primary d-flex mt-4 py-3 px-5 border-top">
            <div>© 2023-2024 Giro3D</div>
        </footer>
    </body>
</html>
