<!doctype html>
<html lang="en">
    <head>
        <%- include('partial-head', {
            title: 'Governance',
            name: 'Governance',
            description: 'A versatile framework to visualize geospatial data in the browser.',
            url: 'https://giro3d.org/governance/',
        }) %>
    </head>

    <body>
        <%- include('navbar', { activeId: 'governance' }) %>

        <main class="p-4 container">
            <section class="p-2">
                <h5>Governance</h5>
                <p>
                    Giro3D is a <span class="fw-bold">meritocratic, consensus-based</span> community
                    project. Anyone with an interest in the project can join the community,
                    contribute to the project design and participate in the decision making process.
                    We believe in running the project transparently.
                </p>
                <p>This includes everything from decision-making to defects in the code.</p>
                <p>We define roles:</p>
                <ul>
                    <li>
                        <span class="fw-bold">users:</span> community members with a need for the
                        project
                    </li>
                    <li>
                        <span class="fw-bold">contributors:</span> community members contributing to
                        the project
                    </li>
                    <li>
                        <span class="fw-bold">committers:</span> community members committed to the
                        continued development of the project
                    </li>
                </ul>
                <p>
                    Our full governance model is detailed in the
                    <a href="https://gitlab.com/giro3d/giro3d/-/blob/main/GOVERNANCE.md"
                        >GOVERNANCE.md</a
                    >
                    document.
                </p>
            </section>
            <section class="p-2">
                <h5>Project Steering Committee</h5>
                <p>
                    We have a
                    <span class="fw-bold">project steering committee (PSC)</span> consisting of
                    individuals, ensuring the smooth running of the project. A PSC chair acts as
                    coordinator and facilitator. We define how to support users and how to
                    contribute.
                </p>
                <p>
                    We also clearly state the decision-making process. The project operates a policy
                    of lazy consensus, allowing the majority of decisions to be made without
                    resorting to a formal vote. Votes can be required for certain actions though,
                    with a stricter procedure.
                </p>
                <p>
                    Giro3D is an independant project, has no legal representation, and is part of
                    the FOSS4G community. It is backed by individuals and organizations, which may
                    give or receive funding for its development.
                </p>
            </section>
        </main>
    </body>
</html>
