<!doctype html>
<html lang="en">
    <head>
        <%- include('partial-head', {
            title: 'Piero',
            name: 'Piero',
            description: 'A versatile framework to visualize geospatial data in the browser.',
            url: 'https://giro3d.org/piero.html',
            thumbnail: 'https://giro3d.org/images/piero_logo_opengraph.png',
        }) %>
    </head>

    <body class="bg-light">
        <%- include('navbar', { activeId: 'piero', favicon: '/images/piero_logo_square.png' }) %>

        <main>
            <section
                class="jumbo border-success-subtle"
                style="
                    background-image: linear-gradient(
                            to right,
                            rgba(255, 255, 255, 0.9),
                            rgba(255, 255, 255, 0.9) 50%,
                            rgba(255, 255, 255, 0)
                        ),
                        url('/images/piero_background.webp');
                "
            >
                <h1><img src="/images/piero_logo.svg" alt="Piero" /></h1>
                <div class="about">
                    <h2 class="lead text-success-emphasis">
                        Fully-configurable open-source web <strong>application</strong> for 3D
                        visualization.
                    </h2>
                    <p class="text-muted">
                        Piero is an open-source web application for visualizing and interacting with
                        2D, 2.5D and 3D data.
                    </p>
                </div>
                <p class="links">
                    <a href="https://piero.giro3d.org" class="btn btn-success my-2"
                        >Try the app <i class="bi bi-box-arrow-up-right"></i
                    ></a>
                    <a href="https://gitlab.com/giro3d/piero" class="btn btn-secondary my-2"
                        >Check on GitLab <i class="bi bi-box-arrow-up-right"></i
                    ></a>
                </p>
            </section>

            <div class="container-fluid bg-success-subtle py-5">
                <div class="container">
                    <div class="cards-container">
                        <div class="col">
                            <div class="card">
                                <div class="card-content row">
                                    <div
                                        class="card-image"
                                        style="
                                            background-image: url('/images/screenshots/layers.jpg');
                                        "
                                    ></div>
                                    <div class="card-body">
                                        <h5 class="card-title">Terrain and Imagery</h5>
                                        <p class="card-text">
                                            Apply raster, vector and elevation layers to display
                                            your environment with 2.5D maps.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-content row">
                                    <div
                                        class="card-image"
                                        style="background-image: url('/images/screenshots/ifc.jpg')"
                                    ></div>
                                    <div class="card-body">
                                        <h5 class="card-title">Bring Your Own Data</h5>
                                        <p class="card-text">
                                            Drag and drop your data from your computer. Supports a
                                            wide variety of 2D, 2.5D and 3D formats, merging both
                                            GIS and BIM worlds.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-content row">
                                    <div
                                        class="card-image"
                                        style="
                                            background-image: url('/images/screenshots/attributes.jpg');
                                        "
                                    ></div>
                                    <div class="card-body">
                                        <h5 class="card-title">Navigation</h5>
                                        <p class="card-text">
                                            Easily navigate through your data and explore the
                                            metadata.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-content row">
                                    <div
                                        class="card-image"
                                        style="
                                            background-image: url('/images/screenshots/annotation.jpg');
                                        "
                                    ></div>
                                    <div class="card-body">
                                        <h5 class="card-title">Annotate</h5>
                                        <p class="card-text">
                                            Annotate your data in a couple of clicks. Import and
                                            export them using industry-standard formats.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-content row">
                                    <div
                                        class="card-image"
                                        style="
                                            background-image: url('/images/screenshots/crosssection.jpg');
                                        "
                                    ></div>
                                    <div class="card-body">
                                        <h5 class="card-title">See Through Your Data</h5>
                                        <p class="card-text">
                                            Navigating inside a building is easy as ABC with
                                            clipping and switching to first person controls.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-content row">
                                    <div
                                        class="card-image"
                                        style="
                                            background-image: url('/images/screenshots/layer_reprojection.jpg');
                                        "
                                    ></div>
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            Powered by
                                            <a href="https://giro3d.org" class="link-success"
                                                >Giro3D</a
                                            >
                                        </h5>
                                        <p class="card-text">
                                            Piero uses Giro3D and the three.js rendering engine. It
                                            virtually supports any data that can be loaded with
                                            these frameworks.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <section class="mt-5 py-1 container card text-center">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="my-3">
                            <a href="https://giro3d.org">
                                <img src="/images/giro3d_logo.svg" />
                            </a>
                        </div>
                        <p class="lead text-primary-emphasis">
                            A versatile framework to visualize geospatial data in the browser.
                        </p>
                        <p class="text-muted">
                            Piero is built on top of <strong>Giro3D</strong>, an open-source
                            JavaScript framework for visualizing and interacting with 2D, 2.5D and
                            3D data.
                        </p>
                        <p>
                            <a href="/giro3d.html" class="btn btn-primary my-2">Learn more</a>
                            <a
                                href="https://gitlab.com/giro3d/giro3d"
                                class="btn btn-secondary my-2"
                                >GitLab <i class="bi bi-box-arrow-up-right"></i
                            ></a>
                        </p>
                    </div>
                </div>
            </section>
        </main>

        <footer class="container-fluid text-bg-success d-flex mt-4 py-3 px-5 border-top">
            <div>© 2023-2024 Giro3D</div>
        </footer>
    </body>
</html>
