:root {
  /* overwritting typedoc default theme variable */
  --color-ts-namespace: var(--bs-primary);
}

#tsd-search .results {
  top: 54px;
  right: 0;
  width: unset;
}

.site-menu {
  top: 80px; /* the header is bigger than default */
}

/*
 * Override bootstrap styles for headers, as bootstrap
 * headers are way too big for the API doc.
 */
.container-main h1 {
  font-size: 1.875rem;
}
.container-main h2 {
  font-size: 1.5rem;
}
.container-main h3 {
  font-size: 1.25rem;
}
.container-main h4 {
  font-size: 1.05rem;
}
