---
title: AxisGrid
shortdesc: Illustrates the use of the AxisGrid entity.
longdesc: The <a href="../apidoc/classes/entities.AxisGrid.html" target="_blank"><code>AxisGrid</code></a> is useful to get a grasp of a dataset's volume in 3D space, including is height. The relative origin mode is useful to get a grasp of the dataset's size, with the absolute origin mode displays coordinates in the local CRS.
attribution: © <a target="_blank" href="https://www.usgs.gov/">U.S. Geological Survey</a>
dependencies: ['colormap']
tags: [map, axisgrid, tiles, xyz]
---

<div class="side-pane-with-status-bar">
    <div class="card">
        <div class="card-header">Parameters</div>
        <div class="card-body">
            <!-- Color -->
            <label class="form-check-label w-100 mb-2" for="color">
                <div class="row">
                    <div class="col-auto">Color</div>
                    <div class="col">
                        <input
                            type="color"
                            class="form-control form-control-color float-end h-100 w-100"
                            id="color"
                            value="#ffffff"
                            title="color"
                            autocomplete="off"
                        />
                    </div>
                </div>
            </label>

            <!-- Show/Hide AxisGrid -->
            <div class="form-check form-switch">
                <input
                    class="form-check-input"
                    type="checkbox"
                    checked="true"
                    role="switch"
                    id="entity"
                    autocomplete="off"
                />
                <label class="form-check-label" for="entity">Show axis grid</label>
            </div>

            <!-- Toggle adaptive labels -->
            <div class="form-check form-switch">
                <input
                    class="form-check-input"
                    type="checkbox"
                    role="switch"
                    id="adaptive-labels"
                    autocomplete="off"
                />
                <label class="form-check-label" for="adaptive-labels"
                    >Adaptive labels
                    <span class="text-secondary" data-bs-toggle="popover" data-bs-content="help"
                        ><i class="bi bi-question-circle"></i></span
                ></label>

                <p class="card-text d-none" id="help">
                    <b>Adaptive labels</b> are displayed at the intersection of grid lines and the
                    viewport's edges.
                </p>
            </div>

            <!-- Toggle custom CSS labels -->
            <div class="form-check form-switch">
                <input
                    class="form-check-input"
                    type="checkbox"
                    role="switch"
                    id="custom-css"
                    autocomplete="off"
                />
                <label class="form-check-label" for="custom-css"
                    >Use custom CSS
                    <span
                        class="text-secondary"
                        data-bs-toggle="popover"
                        data-bs-content="help-custom-css"
                        ><i class="bi bi-question-circle"></i></span
                ></label>

                <p class="card-text d-none" id="help-custom-css">
                    Use the <code>label-created</code> event to customize the DOM element of labels.
                </p>
            </div>

            <!-- Absolute/Relative -->
            <div class="form-check form-switch">
                <input
                    class="form-check-input"
                    type="checkbox"
                    checked="true"
                    role="switch"
                    id="origin"
                    autocomplete="off"
                />
                <label class="form-check-label" for="origin"
                    >Relative origin
                    <span
                        class="text-secondary"
                        data-bs-toggle="popover"
                        data-bs-content="help-origin"
                        ><i class="bi bi-question-circle"></i></span
                ></label>

                <p class="card-text d-none" id="help-origin">
                    If enabled, the ticks start at the lower-left (south-west) corner of the grid.
                    If disabled, the ticks start at the origin point of the coordinate system.
                </p>
            </div>

            <!-- Show/Hide ceiling -->
            <div class="form-check form-switch">
                <input
                    class="form-check-input"
                    type="checkbox"
                    checked="true"
                    role="switch"
                    id="ceiling"
                    autocomplete="off"
                />
                <label class="form-check-label" for="ceiling">Show ceiling</label>
            </div>

            <!-- Show/Hide floor -->
            <div class="form-check form-switch">
                <input
                    class="form-check-input"
                    type="checkbox"
                    checked="true"
                    role="switch"
                    id="floor"
                    autocomplete="off"
                />
                <label class="form-check-label" for="floor">Show floor</label>
            </div>

            <!-- Show/Hide sides -->
            <div class="form-check form-switch">
                <input
                    class="form-check-input"
                    type="checkbox"
                    checked="true"
                    role="switch"
                    id="sides"
                    autocomplete="off"
                />
                <label class="form-check-label" for="sides">Show sides</label>
            </div>

            <div class="my-2"></div>

            <!-- X step -->
            <label for="x-axis-step" class="form-label">X axis step</label>
            <div class="input-group">
                <input
                    type="number"
                    min="100"
                    max="3000"
                    class="form-control"
                    value="1000"
                    step="100"
                    id="x-axis-step"
                    autocomplete="off"
                />
            </div>

            <div class="my-2"></div>

            <!-- Y step -->
            <label for="y-axis-step" class="form-label">Y axis step</label>
            <div class="input-group">
                <input
                    type="number"
                    min="100"
                    max="3000"
                    value="1000"
                    step="100"
                    class="form-control"
                    id="y-axis-step"
                    autocomplete="off"
                />
            </div>

            <div class="my-2"></div>

            <!-- Z step -->
            <label for="z-axis-step" class="form-label">Z axis step</label>
            <div class="input-group">
                <input
                    type="number"
                    min="100"
                    max="3000"
                    value="200"
                    step="100"
                    class="form-control"
                    id="z-axis-step"
                    autocomplete="off"
                />
            </div>

            <div class="my-4"></div>

            <!-- Randomize grid position -->
            <button type="button" class="btn btn-primary w-100" id="randomize-position">
                <i class="bi bi-shuffle"></i>
                Randomize position
            </button>
        </div>
    </div>
</div>
