---
title: Custom controls
shortdesc: Illustrates the use of the <code>camera-controls</code> plugin.
longdesc: The <a href="https://github.com/yomotsu/camera-controls" target="_blank"><code>camera-controls</code></a> is a powerful navigation controller for three.js that supports touch and mouse/keyboard-based navigation and is highly configurable.
attribution: © <a target="_blank" href="https://ign.fr/">IGN</a>
dependencies: ['camera-controls']
tags: [navigation, controls, '3d tiles', 'wms']
---

<!-- Screenshot's icon from Lucide: https://github.com/lucide-icons/lucide -->
<div class="side-pane-with-status-bar">
    <button class="btn btn-primary" id="animate">Animate</button>
</div>
