---
title: GeoTIFF image manipulation
shortdesc: Select which bands to view on GeoTIFFs with multiple bands.
longdesc: <a href="https://www.cogeo.org/" target="_blank">GeoTIFFs</a> may have multiple bands. You can select which bands to view, and specify how to map them to regular R, G, B colors.
attribution: © Data provided by the <a target="_blank" href="https://esa.int/">European Space Agency</a>
tags: [map, geotiff]
---

<div class="side-pane-with-status-bar">
    <div class="card">
        <div class="card-header">Channel mapping</div>

        <div class="card-body">
            <div class="input-group mb-3">
                <label class="input-group-text" for="r-channel">R</label>
                <select class="form-select" id="r-channel" autocomplete="off">
                    <option value="0" selected>Band 1</option>
                    <option value="1">Band 2</option>
                    <option value="2">Band 3</option>
                    <option value="3">Band 4</option>
                </select>
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text" for="g-channel">G</label>
                <select class="form-select" id="g-channel" autocomplete="off">
                    <option value="0">Band 1</option>
                    <option value="1" selected>Band 2</option>
                    <option value="2">Band 3</option>
                    <option value="3">Band 4</option>
                </select>
            </div>
            <div class="input-group">
                <label class="input-group-text" for="b-channel" autocomplete="off">B</label>
                <select class="form-select" id="b-channel">
                    <option value="0" selected>Band 1</option>
                    <option value="1">Band 2</option>
                    <option value="2" selected>Band 3</option>
                    <option value="3">Band 4</option>
                </select>
            </div>
        </div>
    </div>
</div>
