---
title: Cloud Optimized GeoTIFF (COG)
shortdesc: Display a color COG in various color spaces.
longdesc: <a href="https://www.cogeo.org/" target="_blank">Cloud Optimized GeoTIFFs</a> are regular GeoTIFF files whose layout is optimized for remote access. They allow streaming the image without tiling it beforehand. The <a target="_blank" href="../apidoc/classes/sources.GeoTIFFSource.html"><code>GeoTIFFSource</code></a> image source supports both elevation and color data, as well as 8-bit, 16-bit and 32-bit pixels.  Optionally, you can use the <code>convertToRGB</code> constructor option to decode images not in the RGB color space, such as CMYK or YCbCR images.
attribution: © <a target="_blank" href="https://eox.at/">EOX</a>
tags: [map, geotiff]
---

<div class="side-pane-with-status-bar">
    <!-- Source file selector -->
    <div class="card">
        <div class="card-body">
            <div class="input-group">
                <span class="input-group-text flex-grow-1">Source file</span>
                <select class="btn btn-outline-primary btn-sm" id="source-file" autocomplete="off">
                    <option selected value="rgb">RGB (LZW)</option>
                    <option value="rgba">RGBA (LZW)</option>
                    <option value="ycbcr">YCbCr (JPEG)</option>
                    <option value="ycbcr-mask">YCbCr + mask (JPEG)</option>
                </select>
            </div>
        </div>
    </div>
</div>
