---
title: Draw shapes
shortdesc: Enables the user to draw points, lines and polygons.
longdesc: The <a href="../apidoc/classes/interactions.DrawTool.html" target="_blank"><code>DrawTool</code></a> class allows you to draw shapes, such as points, lines and polygons, on surfaces. Each generated <a target="_blank" href="../apidoc/classes/entities.Shape-1.html"><code>Shape</code></a> can then be exported in GeoJSON.
attribution: © <a target="_blank" href="https://ign.fr/">IGN</a>
tags: [drawing, picking, map]
---

<div class="side-pane-with-status-bar" style="width: 20rem" class="pe-none">
    <!--Parameters -->
    <div class="card">
        <div class="card-header">Parameters</div>

        <div class="card-body">
            <!-- Geometry types -->
            <div class="d-grid gap-2 mx-auto" id="draw-group">
                <h5>Create new shape</h5>
                <div class="row">
                    <div class="col" style="padding-right: 0 !important">
                        <button type="button" class="btn btn-primary w-100" id="point">
                            Point
                        </button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-primary w-100" id="multipoint">
                            MultiPoint
                        </button>
                    </div>
                </div>

                <div class="row">
                    <div class="col" style="padding-right: 0 !important">
                        <button type="button" class="btn btn-primary w-100" id="segment">
                            Segment
                        </button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-primary w-100" id="linestring">
                            LineString
                        </button>
                    </div>
                </div>

                <div class="row">
                    <div class="col" style="padding-right: 0 !important">
                        <button type="button" class="btn btn-primary w-100" id="ring">Ring</button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-primary w-100" id="polygon">
                            Polygon
                        </button>
                    </div>
                </div>

                <div class="row">
                    <div class="col" style="padding-right: 0 !important">
                        <button
                            type="button"
                            class="btn btn-primary w-100"
                            id="vertical-measurement"
                        >
                            Height
                        </button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-primary w-100" id="angle-measurement">
                            Angle
                        </button>
                    </div>
                </div>

                <!-- End condition -->
                <div class="input-group mt-2">
                    <label
                        class="input-group-text"
                        title="The condition to complete a drawing. Only applies to shapes with unlimited number of points (LineString, Polygon, MultiPoint)"
                        for="end-condition"
                        >End with</label
                    >
                    <select class="form-select" id="end-condition" autocomplete="off">
                        <option value="rightclick" selected>Right-click</option>
                        <option value="doubleclick">Double click</option>
                    </select>
                </div>

                <hr />

                <button
                    type="button"
                    class="btn btn-primary w-100"
                    id="edit-clicked-shape"
                    title="Click on a shape to start editing it. When finished, press right-click to exit edition."
                >
                    <i class="bi bi-pencil"></i>
                    Edit first clicked shape
                </button>

                <div class="row">
                    <div class="col" style="padding-right: 0 !important">
                        <button type="button" disabled class="btn btn-secondary w-100" id="export">
                            <i class="bi bi-upload"></i>
                            Export
                        </button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-secondary w-100" id="import">
                            <i class="bi bi-download"></i>
                            Import
                        </button>
                    </div>
                </div>

                <button type="button" disabled class="btn btn-danger" id="remove-shapes">
                    <i class="bi bi-trash-fill"></i>
                    Remove shapes
                </button>
            </div>

            <hr />

            <h6>Units</h6>

            <!-- Area unit -->
            <div class="input-group mb-2">
                <label class="input-group-text" style="width: 5rem" for="area-unit">Areas</label>
                <select class="form-select" id="area-unit" autocomplete="off">
                    <option value="m" selected>Metric</option>
                    <option value="ha">Hectares</option>
                    <option value="acre">Acres</option>
                </select>
            </div>

            <!-- Length unit -->
            <div class="input-group mb-2">
                <label class="input-group-text" style="width: 5rem" for="length-unit"
                    >Lengths</label
                >
                <select class="form-select" id="length-unit" autocomplete="off">
                    <option value="m" selected>Metric</option>
                    <option value="ft">Feet</option>
                </select>
            </div>

            <!-- Slope unit -->
            <div class="input-group">
                <label class="input-group-text" style="width: 5rem" for="slope-unit">Slopes</label>
                <select class="form-select" id="slope-unit" autocomplete="off">
                    <option value="deg" selected>Degrees</option>
                    <option value="pct">Percent</option>
                </select>
            </div>

            <hr />

            <!-- Color -->
            <label class="form-check-label w-100 mb-2" for="color">
                <div class="row">
                    <div class="col">Color</div>
                    <div class="col">
                        <input
                            type="color"
                            class="form-control form-control-color float-end h-100 w-100"
                            id="color"
                            value="#2978b4"
                            title="color"
                            autocomplete="off"
                        />
                    </div>
                </div>
            </label>

            <!-- Point radius -->
            <div class="row mb-2">
                <div class="col">
                    <label for="point-radius" class="form-label">Point radius (px)</label>
                </div>
                <div class="col">
                    <input
                        type="range"
                        min="0"
                        max="20"
                        step="1"
                        value="4"
                        class="form-range"
                        id="point-radius"
                        autocomplete="off"
                    />
                </div>
            </div>

            <!-- Line width slider -->
            <div class="row mb-2">
                <div class="col">
                    <label for="line-width" class="form-label">Line width (px)</label>
                </div>
                <div class="col">
                    <input
                        type="range"
                        min="0"
                        max="20"
                        step="1"
                        value="2"
                        class="form-range"
                        id="line-width"
                        autocomplete="off"
                    />
                </div>
            </div>

            <!-- Border width slider -->
            <div class="row">
                <div class="col">
                    <label for="border-width" class="form-label">Border width (px)</label>
                </div>
                <div class="col">
                    <input
                        type="range"
                        min="0"
                        max="20"
                        step="1"
                        value="1"
                        class="form-range"
                        id="border-width"
                        autocomplete="off"
                    />
                </div>
            </div>

            <!-- Border width slider -->
            <div class="row">
                <div class="col">
                    <label for="surface-opacity" class="form-label">Surface opacity</label>
                </div>
                <div class="col">
                    <input
                        type="range"
                        min="0"
                        max="1"
                        step="0.01"
                        value="0.35"
                        class="form-range"
                        id="surface-opacity"
                        autocomplete="off"
                    />
                </div>
            </div>
        </div>
    </div>
</div>
