---
title: GeoJSON 3D
shortdesc: Represents 3D shapes from a GeoJSON file.
longdesc: GeoJSON features with Z coordinates can be displayed as 3D shapes using the <a target="_blank" href="../apidoc/classes/entities.FeatureCollection.html"><code>FeatureCollection</code></a> entity.
attribution: © <a target="_blank" href="https://ign.fr/">IGN</a>
tags: [features, 3D]
---

<div class="side-pane-with-status-bar">
    <div class="card">
        <div class="card-header">Parameters</div>
        <div class="card-body">
            <!-- Show/Hide lines -->
            <div class="form-check form-switch">
                <input
                    class="form-check-input"
                    type="checkbox"
                    checked="true"
                    role="switch"
                    id="show-lines"
                    autocomplete="off"
                />
                <label class="form-check-label" for="show-lines">Show lines</label>
            </div>

            <!-- Toggle shading -->
            <div class="form-check form-switch">
                <input
                    class="form-check-input"
                    type="checkbox"
                    checked="true"
                    role="switch"
                    id="toggle-shading"
                    autocomplete="off"
                />
                <label class="form-check-label" for="toggle-shading">Enable shading</label>
            </div>
        </div>
    </div>
</div>
