---
title: LAS/LAZ files.
shortdesc: Display a LAS/LAZ file.
longdesc: Use the <a target="_blank" href="../apidoc/classes/sources.LASSource.html"><code>LASSource</code></a> to display raw LAS/LAZ files. Note however that this format is not optimized for web streaming and visualization. Instead, it is recommended to use a <a target="_blank" href="../apidoc/classes/sources.COPCSource.html"><code>COPCSource</code></a> to load <a href="https://copc.io" target="_blank">Cloud-Optimized Point Cloud</a> LAZ files instead.
tags: ['point cloud', 'las', 'laz']
attribution: Autzen stadium dataset provided by <a href="https://www.usgs.gov" target="_blank">United States Geological Survey</a> and <a href="https://hobu.co/" target="_blank">Hobu, Inc.</a>
---
