---
title: Layer reprojection
shortdesc: Reproject layers with heterogenous coordinate systems.
longdesc: A <code>Layer</code> can reproject the images produced by the <code>ImageSource</code> to conform to the CRS of the instance.
attribution: © <a target="_blank" href="https://www.mapbox.com/">Mapbox</a>, CRS data provided by <a target="_blank" href="https://www.epsg.io/">epsg.io</a>
tags: [map, layers, reprojection]
---

<div class="side-pane-with-status-bar" style="width: 22rem">
    <div class="mh-100 overflow-y-auto">
        <div class="card" id="currentCrsSection">
            <!-- CRS code -->
            <div class="card-header">Parameters</div>

            <!-- tooltip -->
            <span
                class="badge bg-secondary position-absolute top-0 end-0 m-2"
                data-bs-toggle="popover"
                data-bs-content="help"
                >?</span
            >
            <p class="card-text d-none" id="help">
                Type a projected CRS in the field below, then "Update" to create a scene with
                various layers. You can search for projection codes on
                <a target="_blank" href="https://epsg.io/?q=epsg">epsg.io</a>. <b>Note:</b> not all
                projections are supported.
            </p>

            <!-- CRS name and area -->
            <div class="card-body">
                <!-- CRS selector -->
                <div class="input-group">
                    <span class="input-group-text" id="code-label">CRS</span>
                    <input
                        type="text"
                        class="form-control"
                        id="code"
                        placeholder="EPSG code (e.g EPSG:3857)"
                        value="EPSG:2154"
                        aria-label="EpsgCode"
                        autocomplete="off"
                        aria-describedby="code-label"
                    />
                    <button class="input-group-text btn btn-primary" id="create">Update</button>
                </div>

                <hr />
                <h5 class="card-title" id="name">RGF93 v1 / Lambert-93 -- France</h5>
                <h6 class="card-subtitle text-body-secondary mb-2" id="srid">EPSG:2154</h6>
                <p class="card-text" id="description">
                    France - onshore and offshore, mainland and Corsica (France métropolitaine
                    including Corsica).
                </p>
                <a id="link" target="_blank">See on epsg.io</a>
            </div>
        </div>

        <!-- Error message -->
        <div class="alert alert-danger mt-3" id="message" style="display: none" role="alert">
            A simple primary alert—check it out!
        </div>
    </div>
</div>
