#view canvas {
  background-image: linear-gradient(45deg, #aaaaaa 25%, transparent 25%),
    linear-gradient(-45deg, #aaaaaa 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #aaaaaa 75%),
    linear-gradient(-45deg, transparent 75%, #aaaaaa 75%);
  background-size: 20px 20px;
  background-position:
    0 0,
    0 10px,
    10px -10px,
    -10px 0px;
}
