---
title: Elevation profile
shortdesc: Create an elevation profile using a Map and a path.
longdesc: Use the <a target="_blank" href="../apidoc/classes/entities.Map.html#getElevation"><code>getElevation()</code></a> method to sample the elevation at a given coordinate. The elevation profile chart is built with <a href="https://www.chartjs.org/" target="_blank">Chart.js</a>. Keep in mind, however, that the accuracy of the profile will depend on the currently loaded data, which in turns depend on the position of the camera. The closer the camer is to a certain point, the better the resolution will be around this point.
attribution: © <a target="_blank" href="https://ign.fr/">IGN</a>
dependencies: [colormap, 'chart.js']
tags: [map, terrain, profile]
---

<div class="side-pane-with-status-bar pe-none">
    <div class="card pe-auto">
        <h5 class="card-header">Options</h5>

        <!-- tooltip -->
        <span
            class="badge bg-secondary position-absolute top-0 end-0 m-2"
            data-bs-toggle="popover"
            data-bs-content="pickingHelper"
            >?</span
        >
        <p class="card-text d-none" id="pickingHelper">
            Clik on the <b>Create profile</b> button to draw a path on the map. Use right-click to
            complete the drawing.
        </p>

        <div class="card-body">
            <div class="form-check form-switch mb-2">
                <input
                    class="form-check-input"
                    type="checkbox"
                    checked
                    role="switch"
                    id="showColorLayer"
                    autocomplete="off"
                />
                <label class="form-check-label" for="showColorLayer">Show color layer</label>
            </div>

            <div class="form-check form-switch mb-2">
                <input
                    class="form-check-input"
                    type="checkbox"
                    role="switch"
                    id="showLength"
                    autocomplete="off"
                />
                <label class="form-check-label" for="showLength">Show line length</label>
            </div>

            <!-- Sample count -->
            <div class="mb-3">
                <div class="input-group" style="width: 12rem">
                    <input
                        id="sampleCount"
                        type="number"
                        min="2"
                        max="1000"
                        value="200"
                        class="form-control"
                    />
                    <span class="input-group-text">samples</span>
                </div>
            </div>

            <!-- Start elevation profile -->
            <button type="button" class="w-100 btn btn-primary" id="start">
                <i class="bi bi-graph-up"></i>
                Create profile
            </button>
        </div>
    </div>
</div>

<div
    class="bg-body"
    id="chartContainer"
    style="
        display: none;
        position: absolute;
        left: 0;
        bottom: 1.3rem;
        width: 100%;
        height: 15rem;
        padding: 1rem;
    "
>
    <button type="button" class="btn-close" id="closeChart" aria-label="Close"></button>

    <!-- The canvas that will host the chart -->
    <canvas id="profileChart" style="width: 100%; height: 15rem"></canvas>
</div>
