<!doctype html>
<html>
    <head>
        <%- include('partial-head', {
            title: 'Examples',
            name: 'Examples',
            description: 'A versatile framework to visualize geospatial data in the browser.',
            url: `https://giro3d.org/${releaseName}/examples/`,
        }) %>
        <script src="index.js"></script>
    </head>

    <body class="bg-light">
        <%- include('navbar-version', { activeId: 'examples', searchExamples: true }) %>

        <main>
            <section class="container p-3">
                <div class="row mt-3">
                    <% examples.forEach(function(example) { %> <%- include('partial-thumbnail', {
                    example: example }) %> <% }); %>
                </div>
            </section>
        </main>
    </body>
</html>
